*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color: #0F172A;
    color: #FFFFFF;
    font-size: 62.5%; /*equivalencia ao size default*/
    width: 100%;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
}

h1, h2 {
    font-size: 4rem;
    font-weight: 700;
}

section{
    max-width: 96rem;
    margin: 0 auto;
    padding: 5rem 0;
}

.alinhamento-central{
    display: flex;
    justify-content: center;
    align-items: center;
}


header{
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    height: 8rem;
}

header nav{
    display: flex;
    width: 25rem;
    margin: 1rem;
}

nav ul{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content:space-evenly ;
}

li a{
    text-decoration: none;
    color: #FFFFFF;
}

li a:hover{
    text-decoration: underline;
}

.main{
    gap: 10rem;
}

.avatar{
    border-radius: 100%;
}


.description p{
    margin: 3rem 0;
}
.button{
    border-radius: 0.2rem;
    background-color: #0039CC;
    padding: 1rem 2rem;
    color: #FFFFFF;
    text-decoration: none;
}

.button:hover{
    text-decoration: underline;
    background-color: #162340;
}


.container-color{
    background-color: #162340;

}

.projects{
    flex-direction: column;
}
.project{
    display: flex;  
    margin: 3rem 0;
   
}
.project img{
    width: 60rem;
    height: 15rem;
    margin: 0 2rem 0 0;
    border-radius: 0.5rem;
}

.project-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:2rem
}
.project-description h3{
    font-size: 2rem;
}

footer{
    flex-direction: column;
    padding: 5rem;
    background-color: #162340;
}
footer nav{
    display: flex;
    gap:2rem
}
.icon-link{
    width: 3rem;
}


@media (max-width:1200px){
    header{
        justify-content: center;
    }
    section{
        max-width: 50rem;
        text-align: center;
    }
    .main{
        gap: 1rem;
    }
    .alinhamento-central{
        flex-direction: column;
    }
    .project{
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
    .project img{
        width: 20rem;
        height: 15rem;
        margin: 3rem;
        border-radius: 0.5rem;
    }

}
